/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #FFF7EF;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 215px;
  background-color: #FFF7EF;
}
@media (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}

.l-main {
  position: relative;
}

.c-button {
  font-family: "Roboto";
  font-weight: 700;
  color: #707070;
  display: flex;
  border-style: none;
}

.c-form__search {
  width: 216px;
  height: 46px;
  margin-right: 12px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #FFF;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: url(../../../images/mushimegane.svg);
}
@media (min-width: 768px) {
  .c-form__search {
    width: 396px;
    height: 46px;
    background-position: 12px center;
    margin-right: 14px;
  }
}

.c-form__submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  font-family: "M+PLUS+1p";
  font-weight: bold;
  color: #707070;
  background-color: #DED8D3;
  border: 1px solid #707070;
  font-size: 16px;
  font-size: 1rem;
}
.c-form__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-form__submit {
    width: 136px;
    height: 46px;
  }
}

.p-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 2%;
    width: 100%;
  }
}
.p-header__logo {
  font-family: "Roboto";
  color: #707070;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 43px;
}
@media (min-width: 768px) {
  .p-header__logo {
    margin-top: 40px;
  }
}
@media (min-width: 960px) {
  .p-header__logo {
    font-size: 64px;
    font-size: 4rem;
    margin-top: 66px;
    margin-bottom: 67px;
  }
}
.p-header__button {
  font-size: 20px;
  font-size: 1.25rem;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media (min-width: 768px) {
  .p-header__button {
    font-size: 34px;
    font-size: 2.125rem;
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 960px) {
  .p-header__button {
    display: none;
  }
}
.p-header__form {
  display: flex;
  margin-top: 40px;
  margin-left: 31px;
  margin-right: 26px;
  padding: 0;
}
@media (min-width: 768px) {
  .p-header__form {
    margin-top: 38px;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .p-header__form {
    margin-top: 86px;
    margin-bottom: 85px;
  }
}
.p-header__form .p-search {
  width: 216px;
  height: 46px;
  margin-right: 12px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #FFF;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: url(../../../images/mushimegane.svg);
}
@media (min-width: 768px) {
  .p-header__form .p-search {
    width: 396px;
    height: 46px;
    background-position: 12px center;
    margin-right: 14px;
  }
}
.p-header__form .p-submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  font-family: "M+PLUS+1p";
  font-weight: bold;
  color: #707070;
  background-color: #DED8D3;
  border: 1px solid #707070;
  font-size: 16px;
  font-size: 1rem;
}
.p-header__form .p-submit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .p-header__form .p-submit {
    width: 136px;
    height: 46px;
  }
}

.p-main {
  position: absolute;
  top: 215px;
}
@media (min-width: 768px) {
  .p-main {
    top: 217px;
  }
}

.p-mainvisual {
  width: 100%;
  height: 285px;
}
/*# sourceMappingURL=style.css.map */