/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #FFF7EF;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 215px;
  background-color: #FFF7EF;
  z-index: 1;
}
@media (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}

.l-main {
  position: relative;
}

.c-button {
  font-family: "Roboto";
  font-weight: 700;
  color: #707070;
  display: flex;
  border-style: none;
}

.p-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 2%;
    width: 100%;
  }
}

.p-logo {
  font-family: "Roboto";
  color: #707070;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 43px;
}
@media (min-width: 768px) {
  .p-logo {
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .p-logo {
    font-size: 64px;
    font-size: 4rem;
    margin-top: 66px;
    margin-bottom: 67px;
  }
}

.p-form {
  display: flex;
  margin-top: 40px;
  margin-left: 31px;
  margin-right: 26px;
  padding: 0;
}
@media (min-width: 768px) {
  .p-form {
    margin-top: 38px;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .p-form {
    margin-top: 86px;
    margin-bottom: 85px;
  }
}
.p-form__search {
  width: 216px;
  height: 46px;
  margin-right: 12px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #FFF;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: url(../../../images/mushimegane.svg);
}
@media (min-width: 768px) {
  .p-form__search {
    width: 396px;
    height: 46px;
    background-position: 12px center;
    margin-right: 14px;
  }
}
.p-form__submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  font-family: "M+PLUS+1p";
  font-weight: bold;
  color: #707070;
  background-color: #DED8D3;
  border: 1px solid #707070;
  font-size: 16px;
  font-size: 1rem;
}
.p-form__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .p-form__submit {
    width: 136px;
    height: 46px;
  }
}

.p-menubutton {
  font-size: 20px;
  font-size: 1.25rem;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media (min-width: 768px) {
  .p-menubutton {
    font-size: 34px;
    font-size: 2.125rem;
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 1024px) {
  .p-menubutton {
    display: none;
  }
}

.p-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 215px;
}
@media (min-width: 768px) {
  .p-main {
    top: 217px;
  }
}

.p-mainvisual {
  position: relative;
  width: 100%;
  height: 285px;
}
@media (min-width: 1024px) {
  .p-mainvisual {
    height: 530px;
  }
}
.p-mainvisual__img {
  position: absolute;
  background-image: url(../../images/main1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .p-mainvisual__img {
    background-image: url(../../images/mainvisual-pc@2x.jpg);
  }
}
.p-mainvisual__title {
  position: absolute;
  font-size: 36px;
  font-size: 2.25rem;
  color: #FFF;
  margin-top: 122px;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .p-mainvisual__title {
    margin-left: 86px;
  }
}
@media (min-width: 1024px) {
  .p-mainvisual__title {
    font-size: 40px;
    font-size: 2.5rem;
    margin-top: 234px;
  }
}

.p-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .p-contents {
    height: auto;
    flex-direction: row;
    padding: 40px;
    gap: 41px;
  }
}
@media (min-width: 1024px) {
  .p-contents {
    padding: 120px;
    gap: 81px;
  }
}
.p-contents .p-content--takeout {
  background-image: url(../../images/front-takeout.jpg);
}
.p-contents .p-content--eatin {
  background-image: url(../../images/eatin.jpg);
}
.p-contents .p-content--takeout,
.p-contents .p-content--eatin {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 643px;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}
.p-contents .p-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.p-contents .p-content__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-size: 2.5625rem;
  color: #EAEAEA;
  margin-top: 13px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .p-contents .p-content__heading {
    font-size: 44px;
    font-size: 2.75rem;
    margin-top: 14px;
    margin-left: 11px;
  }
}
@media (min-width: 1024px) {
  .p-contents .p-content__heading {
    font-size: 80px;
    font-size: 5rem;
    margin-top: 24px;
    margin-left: 10px;
  }
}
.p-contents .p-content__heading::after {
  position: absolute;
  content: "";
  top: 80px;
  left: 15px;
  height: 4px;
  width: 34px;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .p-contents .p-content__heading::after {
    width: 36px;
    top: 91px;
  }
}
@media (min-width: 1024px) {
  .p-contents .p-content__heading::after {
    width: 63px;
    top: 160px;
    left: 18px;
  }
}
.p-contents .p-content__text-block {
  margin-top: auto;
}

.p-textbox {
  height: 157px;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 16px 16px 16px;
  background-color: #FFF;
  opacity: 0.7;
  padding: 16px;
  color: #3C2A10;
}
.p-textbox__title {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  font-size: 1.375rem;
}
@media (min-width: 768px) {
  .p-textbox__title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.p-textbox__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
}

.p-location {
  position: relative;
  height: 691px;
}
@media (min-width: 768px) {
  .p-location {
    height: 415px;
  }
}
@media (min-width: 1024px) {
  .p-location {
    height: 649px;
  }
}
.p-location__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.p-location__textbox {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 691px;
}
.p-location__textbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 60%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.3) 100%);
}
@media (min-width: 768px) {
  .p-location__textbox {
    min-height: 415px;
  }
  .p-location__textbox::before {
    content: "";
    background: rgba(0, 0, 0, 0.55);
  }
}
@media (min-width: 1024px) {
  .p-location__textbox {
    min-height: 649px;
  }
  .p-location__textbox::before {
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 60%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.3) 100%);
  }
}
.p-location__textbox-title {
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-size: 1.875rem;
  color: #FFF;
  margin-top: 42px;
  margin-left: 42px;
}
.p-location__textbox-title::after {
  position: absolute;
  content: "";
  top: 50px;
  left: 0px;
  height: 2px;
  width: 75px;
  background-color: #FFF;
}
@media (min-width: 1024px) {
  .p-location__textbox-title {
    font-size: 36px;
    font-size: 2.25rem;
  }
  .p-location__textbox-title::after {
    top: 80px;
  }
}
.p-location__textbox-text {
  height: 518px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFF;
  margin-top: 32px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 2.5;
}
@media (min-width: 768px) {
  .p-location__textbox-text {
    margin-top: 35px;
    height: 259px;
  }
}
@media (min-width: 1024px) {
  .p-location__textbox-text {
    margin-top: 75px;
    width: 697px;
    height: 326px;
  }
}
/*# sourceMappingURL=style.css.map */