//project
//blockquote

@use "../../foundation/global/" as g;

.p-blockquote {
    background-color: g.$lightgrey;
    padding: 30px 20px;
    @include g.font-family(MPlusRegular);

    &__cite {
        color: #0000ee;
        text-decoration: underline;
    }
}