//layout

@use "../global/" as g;

.l-sidebar {
    position: relative;
    right: 0;
    margin-left: auto;
    opacity: 0;
    grid-row: 1/4;
    grid-column: 2/1;
    background-color: g.$lightorange;
    z-index: -10;
    width: 328px;
    //transform: translateX(-100%);
    transition: transform 0.5s;

    @include g.breakpoint(pc) {
        opacity: 1;
        display: block;
        transform: translateX(0);
        grid-row: 1/3;
        grid-column: 2;
    }
}

.l-sidebar.is-active {
    //transform: translateX(328px);
    opacity: 1;
    //width: 328px;
    display: block;
    z-index: 10;
    
    //background: rgba(0,0,0,0.4);
}