//color
$text1 :#707070;
$text2 :#FFF;
$text3 :#3C2A10;
$bglightorange :#FFF7EF;
$sidelightorange :#F2EDE9;
$sidebg:#000;
$darkorange :#9D8670;
$lightbrown :#FFF3E6;
$darkbrown:#3C2B1C;
$lightgray:#F5F5F5;
$searchbutton:#DED8D3;