//Object
//Project

@use "../foundation/_base";
@use "../global/" as g;


.p-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include g.breakpoint(pc) {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 2%;
        width: 100%;
    }

    &__logo {
        font-family: "Roboto";
        color: g.$text1;
        @include g.font-size(40);
        font-weight: 700;
        margin-top: 43px;
    

        @include g.breakpoint(tablet) {
            margin-top: 40px;
        }

        @include g.breakpoint(pc) {
            @include g.font-size(64);
            margin-top: 66px;
            margin-bottom: 67px;
        }
    }

    &__button {
        @include g.font-size(20);
        margin-left: auto;
        position: absolute;
        top: 8px;
        right: 8px;

        @include g.breakpoint(tablet) {
            @include g.font-size(34);
            top: 20px;
            right: 25px;
        }

        @include g.breakpoint(pc) {
            display: none;
        }
    }

    &__form {
        display: flex;
        margin-top: 40px;
        margin-left: 31px;
        margin-right: 26px;
        padding: 0;

        @include g.breakpoint(tablet) {
            margin-top: 38px;
            align-items: center;
        }

        @include g.breakpoint(pc) {
            margin-top: 86px;
            margin-bottom: 85px;
        }

        .p-search {
            width: 216px;
            height: 46px;
            margin-right: 12px;
            border-radius: 10px;
            border: 1px solid g.$text1;
            background-color: g.$text2;
            background-position: 5px center;
            background-repeat: no-repeat;
            padding-left: 40px;
            background-image: url(../../../images/mushimegane.svg);

            @include g.breakpoint(tablet) {
                width: 396px;
                height: 46px;
                background-position: 12px center;
                margin-right: 14px;
            }
        }

        .p-submit {
            width: 90px;
            height: 46px;
            border-radius: 10px;
            font-family: "M+PLUS+1p";
            font-weight: bold;
            color: g.$text1;
            background-color: g.$searchbutton;
            border: 1px solid g.$text1;
            @include g.font-size(16);

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }

            @include g.breakpoint(tablet) {
                width: 136px;
                height: 46px;
            }
        }
    }
}
