//project

@use "../global/" as g;

.p-sidebar {
    position: absolute;
    width: 100%;
    color: g.$grey;
    
    &__btn {
        //position: absolute;
        @include g.font-family(RobotoBold);
        @include g.font-size(34);
        margin: 84px 0 90px 46px;
        cursor:default;

    }
    
    &__nav {
        margin: 0 0 0 46px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__heading {
        @include g.font-family(MPlusBold);
        @include g.font-size(24);
        cursor: default;
    }

    &__menu {
        @include g.font-family(MPlusRegular);
        @include g.font-size(20);
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 40px 0 0 20px;
    }

}

.p-sidebar.is-active {
    //height: 100%;
    width: 100%;
    color: g.$grey;
    background-color: g.$lightorange;
    

    &__btn {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        top: 1px;
        right: 1px;
        font-size: 0;
    }

    &__btn::before, &__btn::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 5px;
        height: 35px;
        background-color: g.$grey;
    }

    &__btn::before {
        transform: translate(-50%,-50%) rotate(45deg);
    }

    &__btn::after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    
    &__nav {
        margin: 178px 0 0 46px;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__heading {
        @include g.font-family(MPlusBold);
        @include g.font-size(24);
    }

    &__menu {
        @include g.font-family(MPlusRegular);
        @include g.font-size(20);
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 40px 0 0 20px;
    }

}